<div class="footer__group">
  <div class="footer__left">
    <div class="footer__logo">
      <a href="#">
        <img src="/images/logo.svg" alt="Logo image" />
      </a>
    </div>
    <p>Jalan Semangka Raya, Telaga Murni,Cikarang Barat, Kab. Bekasi</p>
    <div class="footer__social">
      <a href="#!"><img src="/images/instagram.svg" alt="" /></a>
      <a href="#!"><img src="/images/facebook.svg" alt="" /></a>
      <a href="#!"><img src="/images/twitter.svg" alt="" /></a>
    </div>
  </div>

  <div class="footer__row">
    <div class="footer__col">
      <h4 class="footer--heading">Company</h4>
      <div class="footer__list">
        <a href="#!" class="footer__link">About Us</a>
        <a href="#!" class="footer__link">Career</a>
        <a href="#!" class="footer__link">How It Work</a>
      </div>
    </div>
    <div class="footer__col">
      <h4 class="footer--heading">Policy</h4>
      <div class="footer__list">
        <a href="#!" class="footer__link">FAQ</a>
        <a href="#!" class="footer__link">Privacy</a>
        <a href="#!" class="footer__link">Shipping</a>
      </div>
    </div>
    <div class="footer__col">
      <h4 class="footer--heading">Get In Touch</h4>
      <div class="footer__list">
        <a href="#!" class="footer__link">+62 896 7311 2766</a>
        <a href="#!" class="footer__link">food@example.com</a>
      </div>
    </div>
  </div>
</div>
