<!DOCTYPE html>
<html>
  <head>
    <meta
      property="og:image"
      content="https://luan-thanhh.github.io/lets-food/assets/img/thumbnail.jpg"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="icon"
      href="/images/favicon.svg"
      type="image/gif"
      sizes="16x16"
    />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- ======== HEADER ======== -->
    <header id="header" class="header">
      <%- include('../../layouts/header.ejs') %>
    </header>

    <!-- ======== MENU ======== -->
    <section id="home__menu" class="home__menu container mt-head">
      <%- include('../../components/menu') %>
    </section>

    <!-- ======== FOOTER ======== -->
    <footer id="footer" class="footer container-full">
      <%- include('../../layouts/footer') %>
    </footer>

    <script src="/javascripts/app.js"></script>
  </body>
</html>
