<div class="home__introduce-content hide">
  <h3 class="home__introduce--heading">
    Be The Fastest In Delivery Your <span>Food</span>
  </h3>
  <p class="home__introduce--text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
    sit amet
  </p>
  <button class="home__introduce--btn">Get Started</button>
</div>

<div class="home__introduce-picture hide">
  <img src="/images/food-review.png" alt="Food review" />
</div>

<div id="home__introduce-shape1" class="shape shape1">
  <img src="/images/shape.png" alt="" />
</div>
<div id="home__introduce-shape2" class="shape shape2">
  <img src="/images/shape.png" alt="" />
</div>
<div id="home__introduce-shape3" class="ellipse ellipse1">
  <img src="/images/ellipse.png" alt="" />
</div>
<div id="home__introduce-shape4" class="ellipse ellipse2">
  <img src="/images/ellipse.png" alt="" />
</div>
<div id="home__introduce-shape5" class="ellipse ellipse3">
  <img src="/images/ellipse.png" alt="" />
</div>
<div id="home__introduce-shape6" class="ellipse ellipse4">
  <img src="/images/ellipse.png" alt="" />
</div>
