<p class="home__serve--title">How it works</p>
<h4 class="home__serve--heading">What We Serve</h4>
<p class="home__serve--desc">
  Product Quality Is Our Priority, And Always Guarantees Halal And Safety Until
  It Is In Your Hands.
</p>

<div class="home__serve-list">
  <div class="home__serve-item hide">
    <div class="home__serve-item-img">
      <img src="/images/order.png" alt="Order" />
    </div>

    <h5 class="home__serve-item--heading">Easy To Order</h5>
    <p class="home__serve-item--text">You only order through the app</p>
  </div>
  <div class="home__serve-item hide">
    <div class="home__serve-item-img">
      <img src="/images/delivery.png" alt="Delivery" />
    </div>

    <h5 class="home__serve-item--heading">Fastest Delivery</h5>
    <p class="home__serve-item--text">Delivery will be on time</p>
  </div>
  <div class="home__serve-item hide">
    <div class="home__serve-item-img">
      <img src="/images/courier.png" alt="Courier" />
    </div>

    <h5 class="home__serve-item--heading">Best Quality</h5>
    <p class="home__serve-item--text">The best quality of food for you</p>
  </div>
</div>
