<!DOCTYPE html>
<html>
  <head>
    <meta
      property="og:image"
      content="https://luan-thanhh.github.io/lets-food/assets/img/thumbnail.jpg"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="icon"
      href="/images/favicon.svg"
      type="image/gif"
      sizes="16x16"
    />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- ======== HEADER ======== -->
    <header id="header" class="header">
      <%- include('../../layouts/header.ejs') %>
    </header>
    <!-- ======== Register ======== -->
    <form
      action="/shopping/checkout"
      method="post"
      class="checkout"
      id="checkout-form"
    >
      <p class="payment-errors"></p>
      <h2>CHECKOUT</h2>
      <h4 style="margin-top: 1.6rem">
        Your total:
        <span
          ><%- total.toString().replace(/(.)(?=(\d{3})+$)/g,'$1,') %>VND</span
        >
      </h4>
      <div class="checkout__form-control">
        <input type="text" placeholder="Name" id="checkout_name" />
      </div>

      <div class="checkout__form-control">
        <input type="text" placeholder="Address" id="checkout_address" />
      </div>

      <div class="checkout__form-control">
        <input type="text" placeholder="Credit card name" id="credit-name" />
      </div>

      <div class="checkout__form-control">
        <input
          type="number"
          placeholder="Credit card number"
          id="credit-number"
        />
      </div>

      <div class="checkout__form-control" style="display: flex">
        <input
          type="text"
          placeholder="Expiration month"
          id="expiration_month"
        />
        <input type="text" placeholder="Expiration year" id="expiration_year" />
      </div>

      <div class="checkout__form-control">
        <input type="text" placeholder="CVC" id="checkout_cvc" />
      </div>

      <div style="text-align: center">
        <a
          href="/shopping/checkout"
          id="register-submit"
          class="checkout__btn-buy"
        >
          Buy now
        </a>
      </div>
    </form>
    <footer id="footer" class="footer container-full" style="margin-top: 0">
      <%- include('../../layouts/footer') %>
    </footer>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
      integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://js.stripe.com/v2/"></script>
    <script src="/javascripts/checkout.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
